body{
  background: linear-gradient(to right, #03827b, #c45a21);
  margin-top: 67.5px !important;
  margin-bottom: 77.5px !important;
}
.heading{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.heading:hover{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.sub-heading{
    color: #ffffff;
}

.competition{
    color: #ffffff;
}

.competition-link{
    color: #c4c4c4;
}

.competition-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.school-link{
    color: #c4c4c4;
}

.school-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.competition-div{
    margin-top: 32.5px;
    margin-left: 2%;
    margin-right: 2%;
}

.school-div{
    margin-top: 32.5px;
    margin-left: 2%;
    margin-right: 2%;
}

.about-inner{
    margin-left: 2%;
    margin-right: 2%;
}

.about-outer{
    margin-left: 2%;
    margin-right: 2%;
}

.about-img{
    width: 100%;
}

.about-text{
    margin-top: 5%;
}

@media (min-width: 992px) {
  .about-outer{
    display: grid;
    grid-gap: 2%;
  }
  .about-img{
    width: 300px;
}
  .about-inner{
      grid-row: 1/5;
  }
  .about-body{
      grid-row: 2 / 3;
  }
  .about-text{
    margin-top: 0px;
  }
}

@media (min-width: 1425px) {
  .about-outer {
      margin-left: 10%;
      margin-right: 10%;
  }
  .about-text{
    margin-top: 0px;
  }
}

.about-text{
    color: #ffffff;
}

.about-link{
    color: #c4c4c4;
}

.about-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.school-text{
    color: #ffffff;
}

.toggle-collapse{
    color: #ffffff !important;
}

.toggle-collapse:hover{
    color: #ed594e !important;
    text-decoration: none;
}

.message-link{
    color: #0c5460;
}

.message-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.homework-link{
    color: #c4c4c4;
}

.homework-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.homework-div{
    margin-left: 2%;
    margin-right: 2%;
}

.homework-text{
    color: #ffffff;
}


@media (min-width: 992px) {
  .homework-div{
    margin-left: 10%;
    margin-right: 10%;
   }
  .video{
      margin-left: 10%;
      margin-right: 10%;
  }
}

.video-iframe{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video-iframe iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.icon{
    width: 25px;
    height: 25px;
}

.index-link{
    color: #008683;
}

.text-link{
    color: #c4c4c4;
}

.text-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.index-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.index-about{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }

@media (min-width: 768px) {
  .index-about{
      display:none;
  }
}

@media (max-width: 768px) {
    .carousel-caption{
        display:none;
    }
}

.creation-card{
  transition: 0.3s;
}

.creations-div{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

@media (min-width: 768px) {
    .creation-card:hover {
        transform: scale(1.075, 1.075);
        box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    }
}

@media (max-width: 768px){
    .creations-div{
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.footer-text-dark{
    color: #FFFFFF80
}

.footer-text-light{
    color: #000000E6;
}

.themeicon{
    border-radius: 50%;
    width: 10px
}