.actual-content{
    padding-top: 95px !important;
}

.heading{
    text-align: center;
    text-decoration: none;
}

.heading:hover{
    text-align: center;
    text-decoration: none;
}

.competition-link{
    color: #08e8de;
}

.competition-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.school-link{
    color: #08e8de;
}

.school-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.competition-div{
    margin-top: 32.5px;
    margin-left: 2%;
    margin-right: 2%;
}

.sub-heading{
    color: inherit;
}

.school-div{
    margin-top: 32.5px;
    margin-left: 2%;
    margin-right: 2%;
}

.about-inner{
    margin-left: 2%;
    margin-right: 2%;
}

.about-outer{
    margin-left: 2%;
    margin-right: 2%;
}

.about-img{
    width: 100%;
}

.about-text{
    margin-top: 5%;
}

@media (min-width: 992px) {
  .about-outer{
    display: grid;
    grid-gap: 2%;
  }
  .about-img{
    width: 300px;
}
  .about-inner{
    grid-row: 1/5;
  }
  .about-body{
    grid-row: 2 / 3;
  }
  .about-text{
    margin-top: 0px;
  }
}

@media (min-width: 1425px) {
  .about-outer {
      margin-left: 10%;
      margin-right: 10%;
  }
  .about-text{
    margin-top: 0px;
  }
}

.about-link{
    color: #08e8de;
}

.about-link:hover{
    color: #ed594e;
    text-decoration: none;
}


.toggle-collapse:hover{
    color: #ed594e !important;
    text-decoration: none;
}

.message-link{
    color: #0c5460;
}

.message-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.homework-link{
    color: #08e8de;
}

.homework-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.homework-div{
    margin-left: 2%;
    margin-right: 2%;
}


@media (min-width: 992px) {
  .homework-div{
    margin-left: 10%;
    margin-right: 10%;
   }
  .video{
      margin-left: 10%;
      margin-right: 10%;
  }
}

.video-iframe{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video-iframe iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.icon{
    width: 25px;
    height: 25px;
}

.index-link{
    color: #008683;
}

.text-link{
    color: #08e8de;
}

.text-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.index-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.index-about{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }


.creation-card{
  transition: 0.3s;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25), -1px -1px 10px 5px rgba(0, 0, 0, 0.22);
}

.creations-div{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

@media (min-width: 768px) {
    .index-about{
        display:none;
    }
    .creation-card:hover {
        transform: scale(1.01, 1.01);
        box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    }
    .navbar-item:hover {
        transform: scale(1.05, 1.05);
        transition: 0.3s;
    }

    .icon:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s;
    }
}

.footer-text-dark{
    color: #FFFFFF80
}

.footer-text-light{
    color: #000000E6;
}

.themeicon{
    border-radius: 50%;
    width: 10px
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

.footer-icons{
    display: inline-block;
}

@media (max-width: 768px){
    .about-outer {
        margin-bottom:50px;
    }
    .carousel-caption{
        display:none;
    }
    .creations-div{
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    body {
        margin-bottom: 110px !important;
    }
    .footer-icons{
        display: block;
    }
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 0;
    z-index: 1;
  }
  
.fade-exit .fade-exit-active {
    opacity: 0;
    transition: opacity 150ms ease-out;
  }

.content{
    position: absolute;
    top: 95px;
    padding-bottom: 77.5px;
    left: 0;
    right: 0;
}

.particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}